{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'questions/style.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
        <style>

        </style>
    </head>
    <body>
        <h1 id='question'>
            Do czego służy klucz podstawowy?
        </h1>

        <img id="img1"
        src="{% static 'questions/imageq6.svg' %}"
        alt="cool vector graphic"
        height="230"
        width="430"
        x="0" y="100" />

        <a href='{% url "question:incorrect_answear6" %}'>
        <button id='odpowiedz1'>
             do otwierania drzwi 
        </button>
        </a>

        <a href='{% url "question:correct_answear6" %}'>
        <button id='odpowiedz2'>
            do identyfikacji pól
        </button>
        </a>

        <a href='{% url "question:incorrect_answear6" %}'>
        <button id='odpowiedz3'>
             do zmiany wielkości tabeli 
        </button>
        </a>

        <a href='{% url "question:incorrect_answear6" %}'>
        <button id='odpowiedz4'>
             do dodawania rekordów 
        </button>
        </a>

    </body>
</html>